<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wo2b.tu123"
    android:versionCode="20150119"
    android:versionName="2.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
        tools:ignore="OldTargetApi" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 外部SD卡读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- 网络状态检测 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- 设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    
    <!-- 系统设置发生变化, 如横竖屏切换等 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    
    <!-- 下载管理 -->
    <permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--以下为可选权限-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    
    
    <application
        android:name=".Wo2bApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Rocky.Theme.Main" >
        
        <!-- Splash Activity -->
        <activity
            android:name=".ui.global.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Rocky.Theme.Main.Entry" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".ui.global.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Rocky.Theme.Main.Home" />
        <activity android:name=".ui.global.SearchActivity" />
        <activity android:name=".ui.global.WelcomeActivity" />
        
        
        <!-- Image Modules Start -->
        <!-- android:screenOrientation="sensor" -->
        <activity
            android:name=".ui.image.ImageGridActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.image.ImageViewerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/Rocky.Theme.Main.Fullscreen" />
        
        <activity android:name=".ui.image.WallpaperDisposeActivity" />
        <!-- Image Modules End -->
        
        
        <!-- User Center Start -->
        <activity android:name=".ui.uc.MyFavoritesActivity" />
        <activity android:name=".ui.uc.PersonalTailorActivity" />
        <!-- User Center End -->
        
        <!-- Settings Modules -->
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.settings.SuperPowerActivity" />
        <activity android:name=".ui.settings.TrafficStatisticsActivity" />
        <activity android:name=".ui.settings.StorageManagerActivity" />
        <activity android:name=".ui.settings.AboutActivity" />
        <activity 
            android:name=".ui.settings.LockViewActivity"
			android:windowSoftInputMode="stateAlwaysHidden"
			android:exported="false" >
            <intent-filter >
                <action android:name="com.wo2b.action.lock_decode" />
                <action android:name="com.wo2b.action.lock_encode" />
           	</intent-filter>
        </activity>
        
        
        
        <!-- Local Album Start -->
        <activity
            android:name=".ui.localalbum.LocalAlbumActivity" />
        <activity
            android:name=".ui.localalbum.LocalImageGridActivity" />
        <activity
            android:name=".ui.localalbum.LocalAlbumFocusListActivity" />
        <!-- Local Album End -->
        
        
        <!-- Common Modules Start -->
        <activity
            android:name=".ui.fileexplorer.FileExplorerActivity" />
        <activity
            android:name=".ui.fileexplorer.SetRootFolderActivity" />
        <activity
            android:name=".ui.fileexplorer.FileExplorerSettingsActivity" />
        <!-- Common Modules End -->
        
        <!-- Extra Modules -->
        <activity android:name=".ui.extra.NoTitleActivity" />
        
        
        <!-- Widget
        <receiver android:name=".ui.widget.Tu123WidgetProvider" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver> -->
        
        
        
        <!-- Temp Medules -->
        <activity android:name=".ui.temp.articles.ArticleReaderActivity" />
        
        
        
	    <!-- &&&&&&&&&&&&&&&&&& 友盟配置信息(开始)不可修改 &&&&&&&&&&&&&&&&&& -->
	    <meta-data
	        android:name="UMENG_APPKEY"
	        android:value="53a56a6a56240bbe7709665a" >
	    </meta-data>
	    <!-- wo2b channel -->
	    <meta-data
	        android:name="UMENG_CHANNEL"
	        android:value="wo2b" >
	    </meta-data>
	
	     <!-- ### 升级服务 -->
		<activity 
    		android:name="com.umeng.update.UpdateDialogActivity"
    		android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
		<service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
		<!-- 升级服务 End -->
	
	    <!-- 用户反馈 -->
	    <activity android:name="com.umeng.fb.ConversationActivity"
			android:theme="@style/Rocky.Theme.Android.NoTitleBar.LeftRight"/>
	    <activity android:name="com.umeng.fb.ContactActivity"
			android:theme="@style/Rocky.Theme.Android.NoTitleBar.LeftRight" />
	    <!-- &&&&&&&&&&&&&&&&&& 友盟配置信息(结束) &&&&&&&&&&&&&&&&&& -->
	    
	    
	    <!-- ################################################### -->
	    <!-- &&&&&&&&&&&&&&&&&& 广告配置信息(开始) &&&&&&&&&&&&&&&&&& -->
		        
        <!-- &&&&&&&&&&&&&&&&&& 广告配置信息(结束) &&&&&&&&&&&&&&&&&& -->
        
        
        <!-- =========================================================================================== -->
        <!-- =========================================================================================== -->
        <!-- &&&&&&&&&&&&&& Rocky Resources Components Start &&&&&&&&&&&&&& -->
        <activity
            android:name="com.wo2b.wrapper.component.user.UserActivity"
            android:theme="@style/Rocky.Theme.Main.Toolbar" >
            <intent-filter>
                <action android:name="com.wo2b.user.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.wo2b.wrapper.component.user.UserRegisterActivity" />
        <activity android:name="com.wo2b.wrapper.component.user.UserGradeListActivity" />
        <activity android:name="com.wo2b.wrapper.component.common.CommentActivity" />
        <activity android:name="com.wo2b.wrapper.component.common.Wo2bAppListActivity" />
        <activity android:name="com.wo2b.wrapper.component.common.PluginCenterActivity" />
        <activity
            android:name="com.wo2b.wrapper.component.image.ImageAutoPlayActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/Rocky.Theme.Main.Fullscreen" />
        <activity
            android:name="com.wo2b.wrapper.component.image.CropperActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        
		<activity android:name="com.wo2b.wrapper.component.common.Wo2bHomeActivity" />
		<activity android:name="com.wo2b.wrapper.component.common.DeveloperHomeActivity" />
		<activity android:name="com.wo2b.wrapper.component.common.StatementActivity" />
		
		<!-- 浏览器(支持视频播放) -->
        <activity
            android:name="com.wo2b.wrapper.app.RockyWebViewActivity"
            android:hardwareAccelerated="true" />
		
        <service android:name="com.wo2b.wrapper.app.background.DaemonService"></service>
        
        <!-- 后台下载 -->
        <service
            android:name="com.wo2b.sdk.common.download.DownloadService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.wo2b.sdk.DOWNLOAD" />
            </intent-filter>
        </service>
        <!-- &&&&&&&&&&&&&& ###Rocky Resources Components End &&&&&&&&&&&&&& -->
        
</application>

</manifest>